@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body {
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 10px 0;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#google-map {
  position: relative;
}

.loading-map {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-map h1 {
  font-size: 24px;
  font-weight: 300;
}